<form action="/restaurants" method="POST" class="mx-auto" style="width: 500px">
  <div class="mb-3 mt-3 row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="Name" name="name" />
    </div>
    <label for="name_en" class="col-sm-2 col-form-label">Name_en</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="Name_en" name="name_en" />
    </div>
    <label for="phone" class="col-sm-2 col-form-label">Phone</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="phone" name="phone" />
    </div>
    <label for="category" class="col-sm-2 col-form-label">Category</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="category" name="category" />
    </div>
    <label for="image" class="col-sm-2 col-form-label">Image</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="image" name="image" />
    </div>
    <label for="location" class="col-sm-2 col-form-label">Location</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="location" name="location" />
    </div>
    <label for="rating" class="col-sm-2 col-form-label">Rating</label>
    <div class="mb-3 col-sm-10">
      <input type="text" class="form-control" id="rating" name="rating" />
    </div>
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
      rows="3"
    ></textarea>
  </div>
  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-outline-primary">Save</button>
  </div>
</form>